<!DOCTYPE html>
<html>
  <head>
    <title>Bills</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      $(document).ready(function() {
        $('#get-document').on('click', function(e) {
          // get values
          var documentID = $('#document-id').val();
          var email = $('#document-email').val();

          // check for presence of values
          if (documentID == "") {
            displayErrorMessage('Document ID field must not be empty');
            return
          }
          if (email == "") {
            displayErrorMessage('User email field must not be empty');
            return
          }

          // call endpoint
          $(e.target).prop('disabled', true);
          $.ajax({
            type: 'get',
            url: 'document/' + documentID + "?email=" + email,
            context: this,
            dataType: 'json',
            success: function(data) {
              $(e.target).prop('disabled', false);
              $($('#document td')[0]).text(data["id"]);
              $($('#document td')[1]).text(data["processingStatus"]);
              displayMessage("Sucessfully found document");
            },
            error: function(data) {
              $(e.target).prop('disabled', false);
              try {
                data.responseJSON.messages.forEach(function(message){
                  displayErrorMessage(message);
                });
              } catch(err) {
                displayErrorMessage('Something unexpected occurred');
              }
            }
          });
        });

        // upload document
        $(document).on('submit', '.ajax-form', function(e) {
          e.preventDefault();
          $(this).find(':submit').prop('disabled', true);
          var data = new FormData();
          data.append("vendor", this.vendor.value);
          data.append("email", this.email.value);
          data.append("file", this.file.files[0]);
          data.append("authenticity_token", this.authenticity_token.value);
          $.ajax({
            type: this.method,
            url: this.action,
            context: this,
            dataType: 'json',
            processData: false,
            contentType: false,
            data: data,
            success: function(data) {
              $(this).find(':submit').prop('disabled', false);
              displayMessage("Sucessfully uploaded document. ID: " + data.id);
            },
            error: function(data) {
              $(this).find(':submit').prop('disabled', false);
              try {
                data.responseJSON.messages.forEach(function(message){
                  displayErrorMessage(message);
                });
              } catch(err) {
                displayErrorMessage('Something unexpected occurred');
              }
            }
          });
        });
      });

      function displayMessage(message){
        M.toast({html: message, displayLength: 7000, outDuration: 100});
      };

      function displayErrorMessage(message){
        if (message == "true") {
          return
        }

        M.toast({html: message +
          "<a class='toast-close' onclick='M.Toast.getInstance(this.parentElement).dismiss();'>" +
            "<i class='material-icons'>close</i>" +
          "</a>", classes: 'error-toast', displayLength: 15000, outDuration: 100});
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
